body {
    font-family: 'Open Sans', sans-serif;
}

.header-le {
    background-color: rgba(229, 84, 115, 0.10);
}

* {
    padding: 0px;
    margin: 0px;
}

.header-lets {
    padding-top: 100px;
    color: #272727;
    font-family: Lato;
    font-size: 100px;
    font-weight: 800;
    line-height: normal;
    width: 50%;
    padding-left: 500px;


}

.first-flo {
    width: 670px;
    height: 850px;
    flex-shrink: 0;
    padding-right: 500px;
    padding-top: 30px;

}

.header-le {
    display: flex;
}

.button-shop {
    position: absolute;
}

.header-para {
    flex-direction: column;
    padding-left: 500px;
    width: 40%;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 60px;
}

.button-shop {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    background: #E55473;
    margin-left: 490px;
    margin-top: 40px;
}

.ditio-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-top: 250px;
}

.ditio-para {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;

}

.container {
    display: flex;
    gap: 90px;
    margin-left: 600px;
    margin-top: 70px;
    padding-bottom: 60px;
}

.ditio-chobi {
    background: rgba(167, 33, 98, 0.15);
    width: 480px;
    height: 550px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 70px;
}

.img1 {
    margin-top: 30px;
    margin-left: 20px;
    width: 350px;
    height: 500px;
    padding-left: 50px;
}

.img2 {
    margin-top: 30px;
    margin-left: 10px;
    width: 350px;
    height: 500px;
    padding-left: 50px;
}

.img3 {
    margin-top: 30px;
    margin-left: 25px;
    width: 270px;
    height: 499px;
    padding-left: 50px;

}

.flower-tittle {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 50px;
}

.off25 {
    display: flex;
    align-items: center;
    width: auto;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-left: 450px;

}

.left {
    margin-left: 0px;
}

.insta {
    color: #272727;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 90px;
}

.hot-deal {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    padding-right: 100px;
}

.off {
    color: #E55473;
}

.hot-deal1 {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;

}

.img4 {
    width: 478px;
    height: 580px;
    padding-left: 250px;
    margin-top: 200px;
}

.button-sin {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
}

.in {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    padding-left: 40px;
}

.pi {
    align-items: center;
    display: flex;
    gap: 90px;
    width: 442px;
    height: 696px;
    margin-left: 500px;
}

.para {
    margin-top: 40px;
}

.abar {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    width: 2000px;
    height: 949px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: 2200px 700px;
    align-items: center;
    text-align: center;
    margin-left: 350px;
}

.kono {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    padding-top: 200px;
}

.lav {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.mail {
    border-radius: 14px;
    background: #FFF;
    height: 65px;
    width: 700px;
    border: 7px solid tomato;
    margin-top: 20px;
    font-size: 28px;
}
.bu{

}
